*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: linear-gradient(135deg,#ececec,#d9d9d9);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container{
    width: 1000px;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

/* BUSCA */
.topo{
    text-align: center;
    margin-bottom: 20px;
}

.topo input{
    width: 300px;
    padding: 10px;
}

/* CARDS */
.cards-topo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card{
    width: 45%;
    background: #888;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

/* CONTEUDO */
.conteudo{
    display: flex;
    gap: 30px;
}
/* FILTROS */
.filtros{
    width: 250px;
    background: #666;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.filtros h3{
    margin-bottom: 10px;
}

.filtros label{
    display: block;
    margin: 5px 0;
}

.filtros button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.limpar{
    background: tomato;
    color: white;
}

/* LISTA */
.lista{
    flex: 1;
}

.lista h3{
    margin-bottom: 15px;
}

.vaga{
    background: #777;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}